@tailwind base;
@tailwind components;
@tailwind utilities;

.opener {
  max-height: 50px !important;
}
.con {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.switcher {
  justify-content: end;
}
.changer {
  background: blue;
  color: white;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(38 7 150 / var(--tw-bg-opacity));
}

.opp_button {
  color: #260796;
  background: white;
}

li {
  cursor: pointer;
}

#footer > div p {
  cursor: pointer;
}

#footer > div p:hover{
  color: rgb(118, 118, 136);
}