@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf);
}
html,
body {
  font-family: "Poppins", sans-serif;
}

.opener {
  max-height: 50px !important;
}
.con {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.switcher {
  justify-content: end;
}
.changer {
  background: blue;
  color: white;
color: white;
 background: #260796;
}

.opp_button {
  color: #260796;
  background: white;
}

li {
  cursor: pointer;
}
.navigation li:hover{
  border-bottom: 2px solid #8A28C8;
}

#footer > div p {
  cursor: pointer;
}

#footer > div p:hover {
  color: rgb(118, 118, 136);
}
